@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
